/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.qualidade:after {
		left: 68px;
	}
	
	.qualidade_lista li {
		padding: 0 10px;
	}

/*Produto*/
.produto_item > div {
	height: 200px;
	margin-bottom: 20px;
}

.produto_item div img {
	height: 100%;
	width: 100%;
}

.produto_icone {
	padding: 20px 10px;
}

.produto_info p {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 30px;
}

.produto_info .produto_detalhes {
  height: 80px;
  grid-gap: 5px;
}

/*Contato*/
.form_contato {
  padding-right: 30px;
}

}


/******************************************************************************/
/* Smartphone */
@media only screen and (max-width: 767px) {

/*Header*/
.header {
	position: relative;
	height: 250px;
}

.header .container {
	flex-direction: column;
}

.header img {
	margin: 0 auto 10px auto;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	margin: 0px;
}

.header_menu ul li a {
	border: 4px solid #000;
	width: 140px;
	display: block;
	float: left;
}

.header_menu ul li a:hover {
	border-color: #fff;
}

.header_menu ul li a.active {
  border-color: #fff;
}

/*Introdução*/
.introducao {
	margin-top: 0px;
	background: url('../img/bg-mobile.jpg') no-repeat center;
  background-size: cover;
}

.introducao-interna {
  margin-top: 0px;
}

.introducao .container h1 {
	font-size: 36px;
}

.call {
	padding-top: 10px;
}

/*Qualidade*/
.qualidade:after {
	display: none;
}

/*Sobre*/
.missao_sobre p {	
	font-size: 14px;
	line-height: 20px;
  padding-right: 0px;
}

.missao_sobre ul li{	
	font-size: 14px;
	line-height: 25px;
}

/*Produto*/
.produto_item > div {
	height: 200px;
	margin-bottom: 20px;
}

.produto_item div img {
	height: 100%;
}

.produto_icone {
	padding: 10px 10px;
}

.produto_info p {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 30px;
}

.produto_info .produto_detalhes {
  height: 80px;
  grid-gap: 5px;
}

.form_orcamento,.orcamento_dados ul {
  padding-right: 0px;
}

/*Contato*/
.form_contato {
  padding-right: 0px;
}

.contato_dados {
	margin-top: 40px;
}

}