.introducao-sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 60px;
}

.missao_sobre .subtitulo_interno {
  text-align: left;
  margin-bottom: 20px;
}

.missao_sobre .subtitulo_interno:after {
  margin-left: 0;
}

.missao_sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao_sobre ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.missao_sobre .equipe-image {
  margin-top: 20px;
}